.skill-card {
  display: block;
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.disabled-link {
  pointer-events: none;  
  color: gray;            
  cursor: not-allowed;    
  opacity: 0.6;           
  text-decoration: none;  
}


.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1rem;
  font-weight: 600;
  overflow-wrap: break-word;
}

/* Tablet: 2 cards per row */
@media (max-width: 992px) {
 .skill-name {
  font-size: 1rem;
  font-weight: 600;
  overflow-wrap: break-word;
}
}

/* Mobile: 1 card per row */
@media (max-width: 576px) {
  .skill-name {
  font-size: 0.8rem;
  font-weight: 600;
  overflow-wrap: break-word;
}
}